@use '../abstracts/' as *;

@media screen and (max-width: #{$breakpoint-small}) {
   :root {
        @each $name, $size in $sizes-mobile {
            @each $size-key, $size-val in $size {
                --size-#{$name}-#{$size-key}: #{$size-val};
            }
        }
   }

    .main-container {
        padding: $mainContainer-mobile-padding;
    }

    *[data-flex-collapse] {
        flex-direction: column !important;
    }

    *[data-flex-collapse='center'] {
        align-items: center !important;
    }

    *[data-grid-collapse] {
        grid-template-columns: 1fr !important;
    }
}