$colors-dark: (
   background: (
      '400': hsl(210 30% 8%),
      '500': hsl(210 30% 13%),
      '600': hsl(210 30% 18%),
   ),

   text: (
    '400': hsl(0 0 92%),
    'muted': hsl(0 0 68%),
    'muted-hov': hsl(0 0 50% / 0.24),
   ),

   button: (
      '400': hsl(142 85% 26%),
      '500': hsl(142 85% 34%),
   ),

   tag: (
      'default': hsl(220 97% 45% / 0.33),
      'text-default': hsl(220 97% 65%),
   ),

   red: (
      '400': hsl(0 84% 52%),
      '500': hsl(0 84% 58%),
   ),

   blue: (
      '400': hsl(210 84% 42%),
      '500': hsl(210 84% 48%),
   ),

   input: (
      '400': hsl(210 3% 5%),
      '500': hsl(210 3% 12%),
      'border-hov': hsl(220 84% 33%),
   ),

   border: (
      'muted': hsl(0 0 50% / 0.44),
   ),

   select: (
      '400': hsl(220 5% 12%),
      '500': hsl(216 5% 19%),
   )
);

$active-theme: $colors-dark;