@use '../../abstracts/' as *;

.dropdown {
    padding: $dropdown-padding;
    background-color: $dropdown-background;
    border: 2px solid $dropdown-border-color;

    z-index: 999;

    &:is([data-dropdown-state='false']) {
        display: none;
    }

    li {
        padding: $dropdown-item-padding;
    }

    li:is(:hover) {
        background-color: $dropdown-color-on-hov;
    }
}